.boxreservation {
  color: red;
  display: flex;
  align-items: flex-start;

}
.content-review {
  margin-top: 100px;

}

.top {
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
}


.d-flex {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.btn-review {
  margin-top: 50px;
}
