<html>
  <head>
    <meta charset="utf-8">
    <style type="text/css">

      body {
        margin: 0px;
      }
      .btn-green {
        color: white;
        padding: 25px 35px;
        border-radius: 4px;
        font-weight: bold;
        font-size: 20px;
        background: #6AD58B;
        transition: background 0.3s ease;
        text-decoration: none;
        margin: 20px;
      }
      .btn-green:hover {
        background: #3ac162;
        text-decoration: none;
        color: white;
        margin: 20px;
      }

      .btn-yours {
      color: #fff !important;
      text-transform: uppercase;
      background: rgba(165, 203, 217, 0.5);
      padding: 20px;
      border-radius: 50px;
      display: inline-block;
      border: none;
      text-decoration: none;
      margin: 20px;
      position: relative;
      top: 0;
      }

      .btn-yours:hover {
      text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
      -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
      -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
      transition: all 0.4s ease 0s;
      text-decoration: none;
      margin: 20px;
      transform: scale(1.2);
      top: -10px;
      transition: all 0.2s ease-out;
      }

      .banner {
      height: 100vh;
      background-size: cover
      }

      .banner-content {
      color: white;
      align-items: center;
      text-align: center;
      }

      .flexbox {
      display: flex;
      align-items: center;
      justify-content: space-around;
      }

      .banner h1 {
        font-size: 50px;
        font-weight: bold;
        text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
      }

      .banner p {
        font-size: 25px;
        font-weight: lighter;
        color: rgba(255, 255, 255, 0.8);
        margin-bottom: 50px;
      }
    </style>

    <title>KumKa</title>
  </head>

  <body>
    <div class="banner text-center flexbox" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 60%, rgba(3, 163, 255, 1) 120%), url('https://res.cloudinary.com/daeahsosj/image/upload/v1550826436/rose-1024710_1920.jpg');">
      <div class="banner-content">
        <h1>KumKa</h1>
        <p>Find the right one... For tonight.</p>
        <a href="/users/sign_in" class="btn-yours animated">Log in</a>
        <a href="/users/sign_up" class="btn-yours animated">Sign up</a>
      </div>
    </div>
  </body>
</html>
