<div class="search-bar">
  <%= form_tag escorts_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "ðŸ” Filter an Escort (by: name, city, gender)"
    %>
  <% end %>
</div>
