/* Feel free to use your own button CSS code (from previous challenge) */
/* Here is a sample button design */

.btn-green {
  color: white;
  padding: 25px 35px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 20px;
  background: #6AD58B;
  transition: background 0.3s ease;
  text-decoration: none;
  margin: 20px;
}
.btn-green:hover {
  background: #3ac162;
  text-decoration: none;
  color: white;
  margin: 20px;
}


.btn-yours {
color: #fff !important;
text-transform: uppercase;
background: rgba(165, 203, 217, 0.5);
padding: 20px;
border-radius: 50px;
display: inline-block;
border: none;
text-decoration: none;
margin: 20px;
position: relative;
top: 0;
}


.btn-yours:hover {
text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.4s ease 0s;
text-decoration: none;
margin: 20px;
transform: scale(1.2);
top: -10px;
transition: all 0.2s ease-out;
}

