.card-escort {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 20px;
}

.card-escort:hover {
  transform: scale(1.05);
}

.card-escort a:hover {
  text-decoration: none;
  transform: scale(1.2);
  box-shadow: 0 0 65px #CDBE9F inset, 0 0 20px #BEAE8C inset, 0 0 15px #b6a684;
}

.card-escort > a > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-escort h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-escort p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-escort .card-escort-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  h2 {
    margin-bottom: 5px;
  }
}


.animated {
transition: all 0.2s ease-out;
}


// .ex1 a:hover,
// .ex1 a:focus {
//   transform: scale(1.2);
//   box-shadow: 0 0 65px #CDBE9F inset, 0 0 20px #BEAE8C inset, 0 0 15px #b6a684;
// }




// .card-escort-infos .card-escort-user {
//   position: absolute;
//   right: 16px;
//   top: -20px;
//   width: 40px;
// }
