.notification {
  display: flex;
  border-radius: 5px;
  margin-bottom: 8px;
  background: white;
  padding: 8px 16px 8px 16px;
  border: 1px solid rgb(235,235,235);
  margin-top: 10px;
  position: relative;
  transition: all 0.2s ease;
}

.background{
  position: relative;
}

//hidden div
.booking-infos{
  font-size: 12px;
  position: absolute;
  top: 80px;
  display: none;
}

.booking-cards{
  display: flex;
  flex-direction: column-reverse;
}

//

.notification .notification-content {
  flex-grow: 1;
  padding: 0 24px;
}

.notification-content {
  font-size: 14px;
}

.notification p {
  margin: 0;
  line-height: 1.4;
}

.notification small {
  color: #999999;
  font-weight: bold;
}
.notification .notification-actions {
  opacity: 1;
  display: flex;
  transition: ease .3s;
  align-items: center;
}

.notification:hover .notification-actions {
  opacity: 1;
}

.notification .notification-actions a {
  color: #999999;
  margin-left: 16px;
  font-size: 14px;
}

.notification .notification-actions a:hover {
  color: #555555;
}

#text-res {
  font-size: 14px;
}

.avatar-large {
  height: 50px;
  width: 50px;
  border-radius: 50%;

}

.notification:hover {
  border: solid green 1px;
}

.btn-res {
  flex: 0 0 auto;
  height: 40px;
  margin: auto;
  align-self: flex-end;
}

//Badges

.pending{
  margin-bottom: 5px;
  font-size: 10px;
  background-color: rgb(144, 144, 0);
}

.confirmed{
  margin-bottom: 5px;
  font-size: 10px;
  background-color: rgb(187, 0, 204);
}

.done{
  margin-bottom: 5px;
  font-size: 10px;
  background-color: green;
}

