.personal-info {
  padding-bottom: 50px;
}

.pseudo {
  color: $theme-blue;
  text-transform: capitalize;
}

.fileContainer {
    margin-top: 30px;
    margin-left: 45px;
    overflow: hidden;
    position: relative;
}

.fileContainer [type=file] {
    cursor: inherit;
    display: block;
    font-size: 100px;
    // filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 1%;
    // opacity: 0;
    position: absolute;
    overflow: hidden;
    right: 0;
    text-align: right;
    top: 0;
}

.fileContainer {
    background-size: contain;
    background-color: white;
    border-radius: 50%;
    float: left;
    width: 150px;
    height: 150px;
  i {
    position: absolute;
    top: 70px;
    left: 70px;
    color: white;
    overflow: hidden;
    font-size: 0px;
  }
}

.fileContainer [type=file] {
    cursor: pointer;
}

.fileContainer [type=file]:hover {
  ~ i {
    font-size: 20px;
  }
  background-image:  linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
}
